
<div><!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; www.nazoceramics.com 2015</p>
            </div>
        </div>
    </footer>
</div><!-- /.container -->

<div class="footer2">
			<div class="container">
				<div class="row">
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								    <a> <%= link_to "Home", pages_home_path %></a> | 
								    <a> <%= link_to "About", pages_about_path %></a> |
								    <a> <%= link_to "Products", pages_products_path %></a> |
								    <a> <%= link_to "New", pages_new_path %></a> |
							    <b> <a> <%= link_to "Contact", pages_contact_path %></a></b>
							</p>
						</div>
					</div>
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								<p>Copyright &copy; www.nazoceramics.com 2015</p>
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>